<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
	  
		<!-- 過站用 -->
        <rule name="Proxy to IPublicCustomerShopFloor.asmx" stopProcessing="true">
          <match url="^IPublicCustomerShopFloor\.asmx(.*)" />
          <action type="Rewrite" url="http://mes-ap1:503/IPublicCustomerShopFloor.asmx{R:1}" />
          <conditions>
            <add input="{REQUEST_METHOD}" pattern="^(GET|POST)$" />
          </conditions>
        </rule>

        <!-- 登入用 -->
        <rule name="Proxy to OutsourcingCustom.asmx" stopProcessing="true">
          <match url="^OutsourcingCustom\.asmx(.*)" />
          <action type="Rewrite" url="http://mes-ap1:503/OutsourcingCustom.asmx{R:1}" />
          <conditions>
            <add input="{REQUEST_METHOD}" pattern="^(GET|POST)$" />
          </conditions>
        </rule>

        <!-- 查詢 Report 用 -->
        <rule name="Proxy to MFG" stopProcessing="true">
          <match url="^MFG/(.*)" />
          <action type="Rewrite" url="http://localhost:49977/MFG/{R:1}" />
          <conditions>
            <add input="{REQUEST_METHOD}" pattern="^(GET|POST)$" />
          </conditions>
        </rule>
		
		<!-- Vue Router 的路由重寫規則(一定要放在最後) -->
		<rule name="VueRouter" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
		
      </rules>
    </rewrite>
	
	<httpProtocol>
      <customHeaders>
        <!-- 如果需要允許跨域 -->
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, OPTIONS" />
        <add name="Access-Control-Allow-Headers" value="Content-Type, SOAPAction, Origin, Accept" />
      </customHeaders>
    </httpProtocol>
    <proxy>
      <enabled>true</enabled>
      <preserveHostHeader>false</preserveHostHeader>
    </proxy>
	
    <!-- 確保支持 POST -->
    <security>
      <requestFiltering>
        <verbs allowUnlisted="true">
          <add verb="POST" allowed="true" />
        </verbs>
      </requestFiltering>
    </security>
	
	<handlers>
      <!-- 允許 .asmx 處理 -->
      <add name="WebServiceHandlerFactory" path="*.asmx" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode" />
	  <!-- 確保 .asmx 文件使用 WebService 處理 -->
      <add name="WebServiceHandler" path="*.asmx" verb="*" type="System.Web.Handlers.ScriptModule" resourceType="Unspecified" preCondition="integratedMode" />
	</handlers>
	
  </system.webServer>
</configuration>